{% extends 'layout.html' %}

{% block body %}
<h1>Add Achievement</h1>
<div class="dropdown">
 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
 <span class="caret"></span></button>
 <ul class="dropdown-menu">
   <li><a href="/projects">List of projects /Consultancy Proposals submitted to different funding agencies</a></li>
   <li><a href="/projectgrants">Project grants received from funding agencies</a></li>
   <li><a href="/training">Training/Consultancy activities carried out/amount received</a></li>
   <li><a href="/workshopsorganized">Workshops/seminars/conference/events organized</a></li>
   <li><a href="/talks">Invited talks delivered by faculty</a></li>
   <li><a href="/lectures">Expert lectures organized by the department</a></li>
   <li><a href="/workshopsattended">Workshop/seminar/conference attended by faculty</a></li>
   <li><a href="/journal">Journal publications by faculty</a></li>
   <li><a href="/conferences">Conference publications by faculty</a></li>
   <li><a href="/books">Book published/authored by faculty</a></li>
   <li><a href="/mous">Memoranda of Understanding(MOU)/Memoranda of agreement(MOA)</a></li>
   <li><a href="/patents">Patent filed details, if any</a></li>
   <li><a href="/visits">Industrial visits by students</a></li>
   <li><a href="/membership-professional">Faculty membership of professional bodies</a></li>
   <li><a href="/membership-other">Faculty membership of NBA/UGC/Other bodies-GC/GB/EC/AC/BoS</a></li>
   <li><a href="/awards">Awards/Achievements</a></li>
   <li><a href="/anyother">Any other information</a></li>
 </ul>
</div>
{% endblock %}
