{% extends 'layout.html' %}

{% block body %}
{% if edit==0 %}
<h1>Add Details</h1>
{% endif %}
{% if edit==1 %}
<h1>Edit Details</h1>
{% endif %}

{% from 'includes/_formhelpers.html' import render_field %}

  <form method="POST" action="">

    <div class="form-group">
      {{render_field(form.title, class_='form-control')}}
    </div>
    <div class="form-group">
      {{render_field(form.jname, class_='form-control')}}
    </div>
    <div class="form-group">
      {{render_field(form.natorint, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.volno, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.issue, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.pageno, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.scoind, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.wos, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.gscho, class_='form-control')}}
    </div>

    <div class="form-group">
      {{render_field(form.noofcert, class_='form-control')}}
    </div>
    <div class="form-group">
      {{render_field(form.month, class_='form-control')}}
    </div>
    <div class="form-group">
      {{render_field(form.year, class_='form-control')}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>

  </form>
{% endblock %}
